@model BusinessLayers.Models.AlbumViewModel


<div id="loading" style="width: 100%; height: 100%; text-align: center;display:none">

    <img src="~/Load/loading_logofinal.gif" />
</div>
<div class="DetailsAlbum">
    <h2>Albums Details</h2>
    <hr />
    <div class="">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <table class="table">
                    <tr class="info">
                        <th>Album Name</th>
                        <td>@Model.AlbumName</td>
                    </tr>
                    <tr>
                        <th>Album Description</th>
                        <td>@Model.Description</td>
                    </tr>
                    <tr class="info">
                        <th>Album Date</th>
                        <td>@Model.AlbumDate</td>
                    </tr>
                    @*<tr>
                        <th>Album Comment</th>
                        @foreach (var it in Model.CommentsAView)
                        {
                            <td>@it.Content</td>
                        }
                        
                    </tr>*@
                    <tr>
                        <th>Photo Count</th>
                        <td>@Model.PhotosAView.Count</td>
                    </tr>

                </table>
            </div>
            <div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="detailBox">
                        <div class="titleBox">
                            <label>Comment Box</label>
                            @*<button type="button" class="close" aria-hidden="true">&times;</button>*@
                        </div>
                        <div class="commentBox">

                            @*<p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>*@
                        </div>
                        <div class="actionBox">
                            <ul class="commentList">
                                @foreach (var it in Model.CommentsAView)
                                {
                                    @*<td>@it.Content</td>*@
                                    <li>
                                        <div class="commenterImage">
                                            @*<img src="@it.PhotoCView.PhotoPath" />*@
                                            <div class="glyphicon glyphicon-envelope "></div>
                                        </div>
                                        <div class="commentText">
                                            <p class="">@it.Content</p> <span class="date sub-text">@it.Date</span>

                                        </div>
                                        @*<div class="glyphicon glyphicon-remove"></div>*@
                                    </li>
                                }
                                @*<li>
                                    <div class="commenterImage">
                                        <img src="http://placekitten.com/45/45" />
                                    </div>
                                    <div class="commentText">
                                        <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                                    </div>
                                </li>*@
                         
                            </ul>
                            @*<form class="form-inline" role="form">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Your comments" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default">Add</button>
                                </div>
                            </form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.PhotosAView)
            {

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">

                        @*<a href="#" class="">*@
                        <div class="caption">
                            <h3>Photo Info.</h3>
                            <p class="">@item.Description </p>
                            <p class="">@item.PhotoDate </p>
                            @*<button id="editbtn" class="btn btn-info" type="button">Edit</button>*@
                            @*<button type="button" id=@item.AlbumId class="btn btn-info " data-toggle="modal" data-target="#myModal">Edit</button>*@
                            <button type="button" id=@item.PhotoId class="btn btn-success" data-toggle="modal" data-target="#myModal2" onclick="AddCommenttoPhoto(id)">
                                Add Comment
                            </button>
                            <button type="button" id=@item.PhotoId class="btn btn-primary" data-toggle="modal" data-target="#myModal2" onclick="EditPhoto(id)">
                                Edit
                            </button>
                            <button type="button" id=@item.PhotoId class="btn btn-primary" data-toggle="modal" data-target="#myModal2" onclick="DetailsPhoto(id)">
                                Details
                            </button>
                            <button type="button" id=@item.PhotoId class="btn btn-danger" data-toggle="modal" data-target="#myModal2" onclick="DeletePhoto(id)">
                                Delete
                            </button>

                            @*<button id="@item.AlbumId" class="btn btn-danger" type="button" onclick="DeletePhoto44(id)">
                                    Delete
                                </button>*@
                            <div id="result" style="display: none;"></div>
                        </div>
                        <img src="~/GalleryImages/@item.PhotoPath" alt="@item.PhotoName" class="imglist">
                        @*</a>*@
                    </div>
                </div>

            }
        </div>
        @*<div class="showPhotoList">

            </div>*@


    </div>
    <span>
        <a href="javascript:BacktoGallery()">Back to Gallery</a>
        @*@Html.ActionLink("Back to Gallery","Index","Album")*@
    </span>
</div>
<!-- End Main List -->
<style>
    .thumbnail > .imglist {
        width: 100%;
        height: 100%;
    }
</style>


